package com.service.clientlibrary.implementation;


import com.generation.tools.codegen.annotations.BodyParam;
import com.generation.tools.codegen.annotations.HeaderParam;
import com.generation.tools.codegen.annotations.HostParam;
import com.generation.tools.codegen.annotations.HttpRequestInformation;
import com.generation.tools.codegen.annotations.PathParam;
import com.generation.tools.codegen.annotations.QueryParam;
import com.generation.tools.codegen.annotations.ServiceInterface;
import io.clientcore.core.http.models.HttpMethod;
import io.clientcore.core.http.models.Response;
import io.clientcore.core.http.pipeline.HttpPipeline;
import io.clientcore.core.util.Context;

import java.lang.reflect.InvocationTargetException;
import java.util.List;

// NOTE: This interface is generated by AutoRest. Do not edit the interface directly.
// Based on this interface, the annotation processor will generate an implementation
// that is returned by the static method 'getInstance()'.
@ServiceInterface(name = "GeneratedServiceAPI", host = "{endpoint}")
public interface GeneratedServiceAPI {
    static GeneratedServiceAPI getInstance(HttpPipeline pipeline) {
        // TODO enable when appropriate - it's easier to pass a null pipeline in for now
//        if (pipeline == null) {
//            throw new IllegalArgumentException("pipeline cannot be null");
//        }
        try {
            Class<?> clazz = Class.forName("com.service.clientlibrary.implementation.GeneratedServiceAPIImpl");
            return (GeneratedServiceAPI) clazz.getMethod("getInstance", HttpPipeline.class).invoke(null, pipeline);
        } catch (ClassNotFoundException | NoSuchMethodException | IllegalAccessException | InvocationTargetException e) {
            throw new RuntimeException(e);
        }
    }

    @HttpRequestInformation(method = HttpMethod.GET, path = "/keys/{path1}", expectedStatusCodes = { 200 })
    List<String> getKeys(@HostParam("endpoint") String endpointParam,
                         @QueryParam("nameParam") String keysName,
                         @QueryParam("valueParam") String valsName,
                         @PathParam("path1") String pathValue,
                         @HeaderParam("fooValueHeader") String fooValue,
                         Context context);

    @HttpRequestInformation(method = HttpMethod.PUT, path = "/keys")
    void setKey(@HostParam("endpoint") String endpointP,
                @QueryParam("nameParam") String keysName,
                @HeaderParam("fooValueHeader") String fooValue,
                @BodyParam("text/plain") String key,
                Context context);

    @HttpRequestInformation(method = HttpMethod.POST, path = "my/url/path", expectedStatusCodes = {200})
    Response<Void> testMethod(
            @HostParam("endpoint") String endpoint,
            @BodyParam("application/octet-stream") String request,
            @HeaderParam("Content-Type") String contentType,
            @HeaderParam("Content-Length") Long contentLength
    );
}